- return unless current_user.admin? && License.feature_available?(:repository_size_limit)

- form = local_assigns.fetch(:form)
- is_project = local_assigns.fetch(:type) == :project

.form-group.col-md-9
  = form.label :repository_size_limit, class: 'label-bold' do
    Repository size limit (MB)
  = form.number_field :repository_size_limit, value: form.object.repository_size_limit.try(:to_mb), class: 'form-control', min: 0
  %span.form-text.text-muted#repository_size_limit_help_block
    = is_project ? size_limit_message(@project) : size_limit_message_for_group(@group)
